[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "3rdparty/VLLM"]
	path = 3rdparty/VLLM
	url = https://github.com/vllm-project/vllm.git
